/* rule type (condition: breakpoint) */
/* type ==> all , screen , speech , print */
/* condition ==> max-width , min-width */
/* breakpoint ==> screen size */

/* 400px */

/* 0 767.px */
@media (max-width:767.98px){
    .left-aside{
        width: 100%;
        background-color: lightpink;
    }
    

}

/* 0 : 575.98px */
@media (max-width : 575.98px){
    .card{
        width: 100%;
    }
    .d-flex{
        flex-wrap: wrap;
    }
    .w-45{
        width: 100%;
    }
    .left-aside{
        width: 100%;
        background-color: lightblue;
    }
    .right-aside{
        width: 100%;
    }
}

@media (max-width:400px){
    .left-aside{
        background-color: black;
    }
}

/* 992 up to */
@media (min-width: 992px){
    .left-aside{
        background-color: goldenrod;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .left-aside{
        background-color: cadetblue;
    }
}


@media print {
    .right-aside{
        display: none;
    }
}
