*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 90%;
    margin: auto;
}


.animated-div{
    margin-top: 3%;
    width: 200px;
    height: 200px;
    background-color: aqua;
    /* animation-name: changeBgColor ; */
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-delay: 3s;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes changeBgColor{
    /* from {
        background-color: brown;
    }
    to{
        background-color: burlywood;
    } */

    0%{
        background-color: red;
    }
    25%{
        background-color: blue;
        transform: translateX(400px);
    }
    50%{
        background-color: yellow;
        transform: translate(400px , 400px);
        /* width: 400px; */
    }
    75%{
        background-color: teal;
        transform: translate(0px , 400px);
    }
    100%{
        background-color: lightcoral;
    }
}


#user-name{
    width: 50%;
    padding: 2%;
    margin: 2%;
    border: 2px solid red;
    color: red;
    /* outline: 5px solid blue; */
}

#user-name:focus{
    outline: 0;
    border-color: blue;
}

input[type=checkbox]{
    /* width: 100px;
    height: 100px; */
}

input:checked{
    width: 50px;
    height: 50px;
}

input:disabled{
    background-color: aquamarine;
}

table{
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

th , td {
    border: 1px solid lightgray;
}
th{
    background-color: teal;
    color: white;
}
tr:last-child{
    background-color: brown;
}
/* tr:nth-child(3){
    background-color: coral;
} */

tr:nth-child(even){
    background-color: coral;
}

.first-tr td:first-child{
    background-color: black;
    color: white;
}

tr:nth-child(even):hover{
    background-color: lightblue;
}


h1::first-line{
    color: red;
}
h1::first-letter{
    color: blue;
    font-size: 40px;
}

::selection{
    background-color: goldenrod;
    color: white;
}

::marker{
    color: red;
}

::placeholder{
    color: red;
}

.before-after-element::before{
    content: "Web Design";
    background: lightgray;
    padding: 2%;
    width: 300px;
    display: inline-block;
    color: red;
    border-right: 2px solid;
}
.before-after-element::after{
    content: "Web Design";
    background: lightgray;
    padding: 2%;
    width: 300px;
    display: inline-block;
    color: red;
    border-right: 2px solid;
}

.before-after-style{
    position: relative;
    background-color: lightgray;
    padding: 1%;
    margin-top: 3%;
}
.before-after-style::before{
    content: "";
    width: 0px; 
    height: 0px;
    /* background-color: lightgray; */
    position: absolute;
    top: 100%;
    left: 9%;
    border-left: 16px solid transparent;
    border-top: 16px solid blue;
    border-right: 16px solid transparent;
}
.before-after-style::after{
    content: "\f007";
    font-family: 'Font Awesome 6 Free';
    font-size: 50px;
    color: red;
}



.card{
    width: 30%;
    border: 2px solid ;
    padding: 2%
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-aside{
    width: 60%;
}
.right-aside{
    width: 30%;
}
.card-left-lg{
    width: 45%;
}
.w-45{
    width: 45%;
}

.box-shadow{
    box-shadow: 0px 0px 5px 3px lightgray;
}
.w-30{
    width: 30%;
}

.w-100{
    width: 100%;
}

